table.wikitable
    tr
        th
          strong.selflink SRM
          | /Lovibond
        th Example
        th Beer color
        th EBC
      tr
        td 2
        td
          a(href='/wiki/Pale_lager', title='Pale lager') Pale lager
          | , 
          a.mw-redirect(href='/wiki/Witbier', title='Witbier') Witbier
          | , 
          a.mw-redirect(href='/wiki/Pilsener', title='Pilsener') Pilsener
          | , 
          a(href='/wiki/Berliner_Weisse', title='Berliner Weisse') Berliner Weisse
        td(style='background:#F8F753; color:#000000; font-family:monospace;')
        td 4
      tr
        td 3
        td
          a.mw-redirect(href='/wiki/Maibock', title='Maibock') Maibock
          | , 
          a.mw-redirect(href='/wiki/Blonde_Ale', title='Blonde Ale') Blonde Ale
        td(style='background:#F6F513; color:#000000; font-family:monospace;')
        td 6
      tr
        td 4
        td
          a.mw-redirect(href='/wiki/Weissbier', title='Weissbier') Weissbier
        td(style='background:#ECE61A; color:#000000; font-family:monospace;')
        td 8
      tr
        td 6
        td
          a(href='/wiki/American_Pale_Ale', title='American Pale Ale') American Pale Ale
          | , 
          a.mw-redirect(href='/wiki/India_Pale_Ale', title='India Pale Ale') India Pale Ale
        td(style='background:#D5BC26; color:#000000; font-family:monospace;')
        td 12
      tr
        td 8
        td
          a.mw-redirect(href='/wiki/Weissbier', title='Weissbier') Weissbier
          | , 
          a(href='/wiki/Saison', title='Saison') Saison
        td(style='background:#BF923B; color:#000000; font-family:monospace;')
        td 16
      tr
        td 10
        td
          a.mw-redirect(href='/wiki/English_Bitter', title='English Bitter') English Bitter
          | , 
          a.mw-redirect(href='/wiki/Extra_Special_Bitter', title='Extra Special Bitter') ESB
        td(style='background:#BF813A; color:#000000; font-family:monospace;')
        td 20
      tr
        td 13
        td
          a.mw-redirect(href='/wiki/Biere_de_Garde', title='Biere de Garde') Biere de Garde
          | , 
          a.mw-redirect(href='/wiki/Double_IPA', title='Double IPA') Double IPA
        td(style='background:#BC6733; color:#000000; font-family:monospace;')
        td 26
      tr
        td 17
        td
          a.mw-redirect(href='/wiki/Dark_lager', title='Dark lager') Dark lager
          | , 
          a.mw-redirect(href='/wiki/Vienna_lager', title='Vienna lager') Vienna lager
          | , 
          a.mw-redirect(href='/wiki/Marzen', title='Marzen') Marzen
          | , 
          a.mw-redirect(href='/wiki/Amber_Ale', title='Amber Ale') Amber Ale
        td(style='background:#8D4C32; color:#ffffff; font-family:monospace;')
        td 33
      tr
        td 20
        td
          a.mw-redirect(href='/wiki/Brown_Ale', title='Brown Ale') Brown Ale
          | , 
          a(href='/wiki/Bock', title='Bock') Bock
          | , 
          a(href='/wiki/Dunkel', title='Dunkel') Dunkel
          | , 
          a.mw-redirect(href='/wiki/Dunkelweizen', title='Dunkelweizen') Dunkelweizen
        td(style='background:#5D341A; color:#ffffff; font-family:monospace;')
        td 39
      tr
        td 24
        td
          a(href='/wiki/Stout#Dry_or_Irish_stout', title='Stout') Irish Dry Stout
          | , 
          a.mw-redirect(href='/wiki/Doppelbock', title='Doppelbock') Doppelbock
          | , 
          a(href='/wiki/Porter_(beer)', title='Porter (beer)') Porter
        td(style='background:#261716; color:#ffffff; font-family:monospace;')
        td 47
      tr
        td 29
        td
          a(href='/wiki/Stout', title='Stout') Stout
        td(style='background:#0F0B0A; color:#ffffff; font-family:monospace;')
        td 57
      tr
        td 35
        td
          a.mw-redirect(href='/wiki/Foreign_Stout', title='Foreign Stout') Foreign Stout
          | , 
          a(href='/wiki/Stout#Baltic_porter', title='Stout') Baltic Porter
        td(style='background:#080707; color:#ffffff; font-family:monospace;')
        td 69
      tr
        td 40+
        td
          a.mw-redirect(href='/wiki/Imperial_Stout', title='Imperial Stout') Imperial Stout
        td(style='background:#030403; color:#ffffff; font-family:monospace;')
        td 79
